:root {
  --sattori-green: #629c47;
  --sattori-light-green: #78be6d;
  --sattori-dark-green: #849f76;
  --sattori-beige: #f7f6f2;
  --sattori-brown: #414142;
  --sattori-white: #ffffff;
  --sattori-black: #050708;
  --sattori-accent: #e6eecf;
}