:root {
  --sattori-green: #4b8d47;
  --sattori-light-green: #78be6d;
  --sattori-dark-green: #357a38;
  --sattori-beige: #f7f6f2;
  --sattori-brown: #a68b6b;
  --sattori-white: #ffffff;
  --sattori-black: #222222;
  --sattori-accent: #e6eecf;
}