@font-face {
  font-family: "Alcubierre";
  src: url("Alcubierre.otf") format("opentype");
}

.alcubierre-thin {
  font-family: "Alcubierre", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.alcubierre-extralight {
  font-family: "Alcubierre", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.alcubierre-light {
  font-family: "Alcubierre", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.alcubierre-regular {
  font-family: "Alcubierre", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.alcubierre-medium {
  font-family: "Alcubierre", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.alcubierre-semibold {
  font-family: "Alcubierre", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
}

.alcubierre-bold {
  font-family: "Alcubierre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.alcubierre-extrabold {
  font-family: "Alcubierre", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.alcubierre-black {
  font-family: "Alcubierre", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.alcubierre-thin-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.alcubierre-extralight-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.alcubierre-light-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.alcubierre-regular-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.alcubierre-medium-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.alcubierre-semibold-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.alcubierre-bold-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.alcubierre-extrabold-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.alcubierre-black-italic {
  font-family: "Alcubierre", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "STKaiti";
  src: url("STKaiti.ttf") format("truetype");
}

.stkaiti-regular {
  font-family: "STKaiti", serif;
  font-weight: 400;
  font-style: normal;
}

.stkaiti-bold {
  font-family: "STKaiti", serif;
  font-weight: 700;
  font-style: normal;
}

.stkaiti-black {
  font-family: "STKaiti", serif;
  font-weight: 900;
  font-style: normal;
}

.stkaiti-italic {
  font-family: "STKaiti", serif;
  font-weight: 400;
  font-style: italic;
}

.stkaiti-bold-italic {
  font-family: "STKaiti", serif;
  font-weight: 700;
  font-style: italic;
}